:root {
    --a4-page-width: 210mm;
    --a4-page-height: 297mm;

    --sidebar-width: 40%;
    --sidebar-background-color: blue;
    --sidebar-text-color: white;

    --main-background-color: white;
    --main-text-color: black;

    --header-light: rgb(243, 236, 236);
    --header-dark: rgb(41, 39, 39);

    &[theme='anton'] {
        --main-text-color: blue;
    }

    &[theme='alex'] {
        --header-light: rgb(216, 19, 19);
        --header-dark: rgb(0, 0, 0);
        --main-text-color: red;
    }
}
