.navigation {
    position: fixed;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    & div {
        border-radius: 100px;
        position: relative;
        width: 48px;
        height: 48px;
        margin-top: 96px;
        border: black 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 24px;

        &:first-of-type {
            margin-top: 0;
        }

        &:not(:last-of-type)::after {
            position: absolute;
            content: '';
            height: 96px;
            bottom: -98px;
            border-left: black 2px solid;
        }
    }
}